// Variables
// --------------------------------------------------------------

$primary:                       #7AB317 !default;
$primary-alt:                   #207cca !default;

$navbar-inverse-color:          #fff;
$navbar-inverse-hover-color:    #fff;

$link:                          $primary !default
$link-focus-border:             $primary !default