// General
// --------------------------------------------------------------

.main {
    min-height: 85vh;
    padding-bottom: 40px;
}

h1 {
    margin-bottom: 1rem;
}

.login-form {
    max-width: 18rem;
}

.btn-link:hover {
    cursor: pointer;
}