// General
// --------------------------------------------------------------

.reverse-row-order {
    flex-direction: row-reverse;
}

.main {
    min-height: 85vh;
    padding-bottom: 40px;
}

.login-form {
    max-width: 18rem;
}

.edit-page {
    position: absolute;
    top: 1rem;
    right: 0;
}

h1 {
    padding-right: 3rem;
}