// Header
// --------------------------------------------------------------

.navbar-brand {
    font-size: 1.25rem;
}

.navbar-menu {
    background-color: $primary;
    .navbar-item,
    .navbar-link {
        @include touch {
            color: #fff;
        }
    }
}

.github-icon {
    float: left;
    margin: .5rem .375rem 0 0;
}

.switch-lang-flag {
    display: inline-block;
    margin: .125rem .5rem 0 0;
}