// Header
// --------------------------------------------------------------

.navbar-brand {
    font-size: 1.25rem;
}

.github-icon {
    float: left;
    margin: .5rem .375rem 0 0;
}

.switch-lang-flag {
    display: inline-block;
    margin: .125rem .5rem 0 0;
}